$blue: rgb(42, 106, 190);
$border-radius: 0;
$border-radius-lg: 0;
$border-radius-sm: 0;
$input-btn-padding-x: 1.25rem;
$input-btn-padding-x-sm: 1rem;
$input-btn-padding-x-lg: 1.5rem;

@import "~bootstrap/scss/bootstrap";

body {
  color: #444;
  font-family: 'Poppins', sans-serif;
}

.progress-bar {
  background-color: $primary;
}

.modal {
  .modal-title {
    color: $primary;
    font-family: 'Fascinate', cursive;
  }
  .modal-content {
    font-weight: 300;
  }
}

.header {
  padding: 1rem 0;
  text-align: center;
  border-bottom: 1px solid rgb(232, 232, 232);
  background-color: $primary;

  h1 {
    margin: 0;
    font-size: 2rem;
    font-family: 'Fascinate', cursive;
    color: white;
    // text-transform: uppercase;
  }
}

.funding-stats {
  background-color: #FBFBFA;
  border-bottom: 1px solid rgb(232, 232, 232);

  &-header {
    text-align: center;

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-weight: 300;
    }
  }

  &-details {
    .stat {
      margin-bottom: 1.5rem;
      color: rgb(101, 105, 105);
      font-size: 0.9rem;
      font-weight: 300;

      .stat-value {
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 1em;
      }

      &.stat-primary {
        .stat-value {
          color: $primary;
        }
      }
    }
  }
}

.block {
  padding: 2rem 0;
  font-weight: 300;
  border-bottom: 1px solid rgb(232, 232, 232);

  h2 {
    color: $primary;
    font-size: 1.6rem;
  }

  &.prizes-block {
    .prizes-list {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1rem;
      padding: 0;
      list-style: none;

      @media (min-width: map-get($grid-breakpoints, "sm")) {
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }

      & > li {
        @extend .btn;
        @extend .btn-outline-secondary;
        font-size: 0.9rem;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
  }

  &.buy-tickets-block {
    color: white;
    background-color: $primary;

    h2 {
      color: white;
    }

    a {
      color: white;
    }

    .table {
      tr {
        td, th {
          color: white !important
        }
      }
    }
  }

  &.raffle-block {
    h2 {
      margin-bottom: 2rem;
      font-size: 3rem;
      font-weight: 300;
      text-align: center;
    }

    .prize-item {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin-bottom: 3rem;
      width: 100%;
      height: 70vh;
      padding: 3rem;
      text-align: center;
      background-color: #FBFBFA;
      border: 1px solid rgb(232, 232, 232);

      .item-image {
        display: inline-flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 1rem;
        width: 400px;
        max-width: 100%;
        // background: rgba(0,0,0,0.2);
        mix-blend-mode: multiply;

        img {
          display: block;
          width: 100%;
          height: auto;
        }
      }

      .item-name {
        font-size: 1.5rem;
        margin-bottom: 1rem;
      }

      .item-winner {
        color: $primary;
        font-size: 2.5rem;
        font-weight: 300;
        text-transform: uppercase;
      }

      &.has-winner {
        position: relative;
        overflow: hidden;

        $particles: 50;
        $width: 750;
        $height: 750;

        // Create the explosion...
        $box-shadow: ();
        $box-shadow2: ();
        @for $i from 0 through $particles {
          $box-shadow: $box-shadow,
                      random($width)-$width / 2 + px
                      random($height)-$height / 1.2 + px
                      hsl(random(360), 100, 50);
          $box-shadow2: $box-shadow2, 0 0 #fff
        }
        @mixin keyframes ($animationName) {
            @-webkit-keyframes #{$animationName} {
                @content;
            }

            @-moz-keyframes #{$animationName} {
                @content;
            }

            @-o-keyframes #{$animationName} {
                @content;
            }

            @-ms-keyframes #{$animationName} {
                @content;
            }

            @keyframes #{$animationName} {
                @content;
            }
        }

        @mixin animation-delay ($settings) {
            -moz-animation-delay: $settings;
            -webkit-animation-delay: $settings;
            -o-animation-delay: $settings;
            -ms-animation-delay: $settings;
            animation-delay: $settings;
        }

        @mixin animation-duration ($settings) {
            -moz-animation-duration: $settings;
            -webkit-animation-duration: $settings;
            -o-animation-duration: $settings;
            -ms-animation-duration: $settings;
            animation-duration: $settings;
        }

        @mixin animation ($settings) {
            -moz-animation: $settings;
            -webkit-animation: $settings;
            -o-animation: $settings;
            -ms-animation: $settings;
            animation: $settings;
        }

        @mixin transform ($settings) {
            transform: $settings;
            -moz-transform: $settings;
            -webkit-transform: $settings;
            -o-transform: $settings;
            -ms-transform: $settings;
        }

        &::before, &::after {
          position: absolute;
          width: 5px;
          height: 5px;
          border-radius: 50%;
          content: '';
          box-shadow: $box-shadow2;
          @include animation((1s bang ease-out infinite backwards, 1s gravity ease-in infinite backwards, 5s position linear infinite backwards));
        }

        &::after {
          @include animation-delay((1.25s, 1.25s, 1.25s));
          @include animation-duration((1.25s, 1.25s, 6.25s));
        }

        @include keyframes(bang) {
          to {
            box-shadow:$box-shadow;
          }
        }
            
        @include keyframes(gravity)  {
          to {
            @include transform(translateY(200px));
            opacity: 0;
          }
        }
            
        @include keyframes(position) {
          0%, 19.9% {
            margin-top: 10%;
            margin-left: 40%;
          }
          20%, 39.9% {
            margin-top: 40%;
            margin-left: 30%;
          }
          40%, 59.9% {  
            margin-top: 0;
            margin-left: 0;
          }
          60%, 79.9% {  
            margin-top: -40%;
            margin-left: -30%;
          }
          80%, 99.9% {  
            margin-top: -10%;
            margin-left: -40%;
          }
        }
      }
    }
  }
}